.assign-btn-block {
    margin-top: 230px;
}

.user-img-block {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.user-img-block img {
    border: 2px solid #edf0f0;
    height: 150px;
    width: 150px;
    object-fit: cover;
}